@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.bg {
    background-image: url('/images/footer/bg/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
}
.logo {
    display: block;
}
.desc {
    margin-bottom: 25px;
    color: #F7F7FF;
    font-size: 16px;
}
.inquiry {
    &_info {
        margin-bottom: 5px;
        color: $primary;
        font-size: 18px;
        line-height: 1.2;
    }
    &_number {
        color: #F7F7FF;
        font-size: 20px;
        &:hover {
            color: $primary;
        }
    }
}
.widget {
    &__item {
        .widget {
            &_address,
            &_number {
                color: #F7F7FF;
            }
            &_address {
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 1.5;
            }
            &_number {
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
    &__title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.2;
        color: $white;
    }
    &__list {
        li {
            &:not(:last-child) {
                padding-bottom: 15px;
            }
            a {
                color: #F7F7FF;
                font-size: 18px;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
.bottom {
    background-color: #000305;
    padding-top: 20px;
    padding-bottom: 20px;
}
.comand {
    color: #f56b2e !important;
    &:hover {
        color: #ffa21a !important;
    }
}
.social {
    display: flex;
    @include breakpoint(max-sm-device) {
        justify-content: center;
        padding-bottom: 10px;
    }
    li {
        border: 1px solid #415981;
        text-align: center;
        &:not(:last-child) {
            margin-right: 20px;
        }
        a {
            color: #F7F7FF;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            &:hover {
                color: $secondary;
            }
        }
    }
}
.copyright {
    span {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include breakpoint(max-sm-device) {
            justify-content: center;
        }
        @include breakpoint(max-xxs-device) {
            flex-wrap: wrap;
        }
        &.text {
            color: #F7F7FF;
        }
        &.icon {
            color: #dc3545;
            margin-left: 5px;
            margin-right: 5px;
        }
        a {
            color: #F7F7FF;
            margin-left: 5px;
            &:hover {
                color: #dc3545;
            }
        }
    }
}
